*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
    background: #7D89AB;
}
.start_block{
    height: 700px;
    width: 100%;
    background: url(images/scale_1200.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10px;
}
.start_block .text{
    margin: auto;
    max-width: 800px;
    border-radius: 20px;
}
.start_block .text p{
    font-size: 20px;
}
.start_block .text h3{
    font-size: 20px;
}
head{
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
}
.start_block h1{
    padding: 10px;
    padding-top: 0px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    color: white;
    border: solid #FFBD59 10px;
    border-top: solid transparent 0px;
    width: 500px;
    border-radius: 0px 0px 20px 20px;
    
}
.wrapper{
    width: 80%;
    margin: auto;
}
.yakors li a{
    color: white;
    background: #FFBD59;
    padding: 4px;
    position: relative;
    text-decoration: none;
    
}
.yakors li{
    list-style: none;
    margin-top: 13px;
}
.yakors li:first-child{
    margin-top: 0px;
}
.yakors {
    font-family: 'Montserrat Alternates', sans-serif;
    position: fixed; /* Фиксированное положение */
    left: 10px; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: #FFBD59;
    border-radius: 10px;
}
.start_block .text{
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
.start_block .text h3{
    font-size: 30px;
    color: white;
    text-align: center;
}
.start_block .text p{
    font-size: 15px;
    color: white;
    text-align: center;
}
.main_block{
    height: 100%;
    background: #7D89AB;
}
.contact h1{
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    color: white;
    border: solid #FFBD59 10px;
    border-bottom: solid transparent 0px;
    width: 1000px;
    border-radius: 20px 20px 0px 0px;    
}
.contact{
    background: #7D89AB;
}
.main_block .text{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    text-indent: 20px;
    color: white;
}
.main_block .text_photo{
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
}
.text_photo{
    align-items: center;  
}
.text_photo img{
    border-radius: 15px;
}
.text_photo .text{
    padding-left: 40px;
    font-size: 19px;
}
.start_block{
    padding-bottom: 50px;
}
.main_block .text_photo_zerkalo{
    display: flex;
}
.text_photo_zerkalo{
    align-items: center;  
    
}
.text_photo_zerkalo .text{
    padding-right: 40px;
    font-size: 19px;
}
.dialog p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    color: white;
}
.ded{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.vnyk{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.ded p{
    margin-left: 20px;
}
.vnyk p{
    margin-right: 20px;
}
#m_p{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dialog{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}
.b p{
    margin-right: 0px;
    margin-left: 20px;
}
.c p{
    margin-right: 20px;
    margin-left: 0px;
}
.photo img{
    box-shadow:  0 0 0 10px #FFEDAE, 0 0 0 20px #FFBD59;
    border-radius: 15px;
}
.ya-share2{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.photo{
    margin: 60px 0px;
}

@media screen and (max-width: 1000px){
   .yakors{
       display: none
   }
   .dialog p{
       font-size: 15px;
   }
   .dialog .vnyk img{
       height: 50px;
   }
   .dialog .ded img{
    height: 50px;
    }
    .dialog .photo img{
        height: 250px;
        width: 450px;
    }
    .text_photo p{
        font-size: 15px;
    }
    .text_photo_zerkalo p{
        font-size: 15px;
    }
    .contact h1{
        padding: 0px;
        font-size: 21px;
        border: 7px solid #FFBD59;
        border-bottom: 0px;
        width: 600px;
    }
 
 }

 @media screen and (max-width: 880px){
    .dialog p{
        font-size: 11px;
    }
    .dialog .vnyk img{
        height: 40px;
    }
    .dialog .ded img{
     height: 40px;
     }
    .dialog .photo img{
        height: 160px;
        width: 260px;
     }
    .text_photo p{
         font-size: 9px;
     }
    .text_photo_zerkalo p{
         font-size: 9px;
     }
    .text_photo .photo img{
        height: 160px;
        width: 260px;
    }
    .text_photo_zerkalo .photo img{
        height: 160px;
        width: 260px;
    }
    .start_block h1{
        font-size: 20px;
    }
    .start_block .text h3{
        font-size: 15px;
    }
    .start_block .text p{
        font-size: 11px;
    }
    .start_block{
        height: 500px;
    }
    .contact h1{
        padding: 0px;
        font-size: 18px;
        border: 5px solid #FFBD59;
        border-bottom: 0px;
        width: 400px;
    }
  }

  @media screen and (max-width: 600px){
    .text_photo{
        flex-direction: column;
    }
    .text_photo_zerkalo{
        flex-direction: column;
    }
    .text_photo .text{
        padding-left: 0px;
    }
    .start_block h1{
        padding: 0px;
        font-size: 15px;
        border: 3px solid #FFBD59;
        border-top: 0px;
        width: 300px;
    }
    .start_block{
        margin: auto;
    }
    .start_block{
        height: 300px;
    }
    .start_block .text h3{
        font-size: 11px;
    }
    .start_block .text p{
        font-size: 8px;
    }
    .contact h1{
        padding: 0px;
        font-size: 15px;
        border: 3px solid #FFBD59;
        border-bottom: 0px;
        width: 300px;
    }
    .ya-share2{
        transform: scale(0.5);
    }
  }

  @media screen and (max-width: 420px){
    .text_photo{
        flex-direction: column;
    }
    .text_photo_zerkalo{
        flex-direction: column;
    }
    .text_photo .text{
        padding-left: 0px;
    }
    .start_block h1{
        padding: 0px;
        font-size: 17px;
        border: 3px solid #FFBD59;
        border-top: 0px;
        width: 300px;
    }
    .start_block{
        margin: auto;
    }
    .start_block{
        height: 300px;
    }
    .start_block .text h3{
        font-size: 15px;
    }
    .start_block .text p{
        font-size: 12px;
    }
    .contact h1{
        padding: 0px;
        font-size: 14px;
        border: 3px solid #FFBD59;
        border-bottom: 0px;
        width: 300px;
    }
   .text_photo .photo img{
       height: 160px;
       width: 260px;
       box-shadow:  0 0 0 6px #FFEDAE, 0 0 0 12px #FFBD59;
   }
   .text_photo_zerkalo .photo img{
       height: 160px;
       width: 260px;
       box-shadow:  0 0 0 6px #FFEDAE, 0 0 0 12px #FFBD59;
   }
   .photo img{
    box-shadow:  0 0 0 6px #FFEDAE, 0 0 0 12px #FFBD59;
   }
   .dialog .photo{
    display: flex;
    justify-content: center;
    margin: auto;
    margin: 60px 0px;
   }
  }
